{% extends 'base.html.twig' %}

{% block title %}Hello UserLoginController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 card m-3 p-3">
                <h3>Customer Login</h3>

                <form action="#" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a class="btn btn-outline-success" href="register/user">Register</a>
                </form>

            </div>
            <div class="col-2"></div>
        </div>

</div>
{% endblock %}
