{% extends 'base.html.twig' %}

{% block body %}
    <div id="body" class="container" style="margin-top:20px">

        <div class="row">
            <div class="category-container col-sm-12 col-lg-9">
                <div class="d-flex">
                    <div class="mr-auto p-2"><h3>{{company.getName()}}</h3></div>
                    <div class="p-2"><ul class="list-unstyled list-inline rating mb-0" style="color:gold;"><i class="fas fa-shield-alt" style="color:mediumseagreen">Trust score:</i><b> {{grade}}</b>
                            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
                        </ul></div>
                </div>
                <div class="d-flex">
                    <div class="mr-auto p-2"> <h4>{{company.getCat()}}</h4></div>
                    <div class="p-2"><b> ({{reviews|length}})</b><i class="fas fa-user-shield"> Reviews</i></div>
               </div>


                <!-- Card -->
                <div class="card booking-card" style="width:100%">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title font-weight-bold"><a>{{company.getName()}}</a></h4>
                        <!-- Data -->
                        <ul class="list-unstyled list-inline rating mb-0" style="color:gold;">
                            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
                            <li class="list-inline-item"><p class="text-muted">{{grade}} ({{reviews|length}})</p></li>
                        </ul>
                        <p class="mb-2">$ • {{company.getCat()}}</p>
                        <!-- Text -->
                        <p class="card-text">{{company.getContent()}}</p>
                        <hr class="my-4">
                        <p class="lead"><strong>Tonight's availability</strong></p>
                        <ul class=" list-inline d-flex justify-content-between mb-0">
                            <li class="list-inline-item mr-0">
                                <div class="chip mr-0">5:30PM</div>
                            </li>
                            <li class="list-inline-item mr-0">
                                <div class="chip deep-purple white-text mr-0">7:30PM</div>
                            </li>
                            <li class="list-inline-item mr-0">
                                <div class="chip mr-0">8:00PM</div>
                            </li>
                            <li class="list-inline-item mr-0">
                                <div class="chip mr-0">9:00PM</div>
                            </li>
                        </ul>
                        <!-- Button -->
                        <button class="btn btn-outline-primary btn-sm">
                        <a class="btn btn-flat deep-purple-text p-1 mx-0 mb-0" href="http://{{company.getUrl()}}" >Website</a></button>

                    </div>

                </div>
                <!-- Card --><br \>

                <div class="row"><br \><h3>Latest reviews...</h3><br \></div>
                <!-- Comments Box -->
                 {% for review in reviews %}
                <div class="comment-box row" style="margin: 10px 5px; background: white; color: black; 	margin-left: 10px;
	padding: 10px;" >
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object rounded-circle shadow-sm p-1 mb-3 bg-white rounded" src="https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/128.jpg" alt="profile" style="max-width: 120px;">
                        </a>
                        <div class="media-body" style="margin-left: 20px; position: relative;">
                            <div class="row">
                                <h4 class="media-heading text-uppercase reviews">{{ review.getUser() }} </h4> <span class="badge badge-pill badge-warning" style="color: white; margin-left: 10px; height:50%">{{review.getUser().getReviews()|length}} - reviews</span>
                                <div class="ml-auto p-2" style="color:gold; margin-right:10px;">
                                    {% for i in 1..review.getGrade() %}
                                    <span class="fa fa-star" ></span> {% endfor %}
                                   </div>
                            </div>
                            <div class="">
                                <p class="media-comment font-weight-light" style="border: 1px solid gainsboro; padding: 30px;
                                background: #eeeeee; border-radius: 5px; color: black; margin-bottom: 10px;">
                                    {{ review.getDescription() }}
                                </p>
                            </div>

                        </div>

                        </li>

                </div> {% endfor %}

                              <!-- Comment Box -->
            </div>
            <div  class="col-sm-12 col-lg-3">
                <center><h3>Categories</h3></center><div class="cat_wrapper">
                    {% for category in categories %}
                    <center><a href="../category-id/{{ category.getId() }}" class="cat_item">{{ category.getName() }}<span class="badge badge-pill badge-light">{{ category.getCompanies()|length }}</span></a>
                        <div class="dropdown-divider"></div>
                    </center><br>
                    {%  endfor %}
                    </div>

            </div>
        </div>

    </div>

{% endblock %}
