{% extends 'base.html.twig' %}

{% block title %}BuySafe - Customers review{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="contentWrapper justify-content-center align-items-center">
<div class="row" style="height: 33%"></div>
    <div class="row" >
		<div  class="col-2 localContent"> </div>
               <div  class="col-8" >
				   <form name="Search" action="/search" method="post">
					<div class="row justify-content-center align-items-center">

					<button type="button" class="btn btn-md btn-primary" disabled><h3> Find secure online shops</h3></button>
					</div>
					<div class="row justify-content-center align-items-center">

						<div class="input-group py-1 px-2 px-md-0">
							<input class="form-control form-control-dark" name="keyword" type="text" value="" placeholder="Search here..." aria-label="Search">
							<div class="input-group-append">
							<button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
							</div>
						</div>

					</div>

				   </form>
        </div>
		<div  class="col-2 localContent"></div>
    </div>
</div>
{% endblock %}
