{% extends 'base.html.twig' %}


{% block body %}

    <div id="body" class="container" style="margin-top:20px; margin-bottom:10px;">
        <div name='wrapper' class='row'>
            <h3>Find secure online shops: {{ found }}</h3>
            <div class='col-sm-12 col-lg-9' ><br>
                {% for company in pagination %}
                <div class='card w-100'> <div class="card-body row">
                        <div class='col-4'> <img src='img/1.jpg' width='100%'/></div>
                        <div class='col-8'>
                            <div class="d-flex flex-row"><a href='company/{{ company.getId() }}'><h4>{{company.getName()}}</h4></a></div>
                            <div class="d-flex flex-row"><a href='category/{{company.getCat().getId()}}'><p>{{ company.getCat() }}</p></a></div>
                            <div class="d-flex flex-row"><i class="fas fa-shield-alt"> Trust score: {{ company.getGrade() }}</i>&nbsp;based on&nbsp;<i class="fas fa-user-shield"> {{ company.getReviews()|length }} Reviews</i><b> </b></div>
                            <div class="d-flex flex-row">{{ company.getContent() }}</div>
                        </div></div>
                </div><br/> {% endfor %}<div class="row" ></div>
                <div class="d-flex justify-content-center row" style="margin-top:20px">{{ knp_pagination_render(pagination) }}</div>
            </div>
            <div  class="col-sm-12 col-lg-3">
                <center><h3>Categories</h3></center><div class="cat_wrapper">
                    {% for category in categories %}
                        <center><a href="category-id/{{ category.getId() }}" class="cat_item">{{ category.getName() }}<span class="badge badge-pill badge-light">{{ category.getCompanies()|length }}</span></a>
                            <div class="dropdown-divider"></div>
                        </center><br>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
