{% extends 'base.html.twig' %}


{% block body %}

    <div id="body" class="container" style="margin-top:20px; margin-bottom:10px;">
            <div class="row justify-content-center align-items-center" style="margin-bottom:20px">
                    <h1>BuySafe customer reviews!</h1>
            </div>
           <div class="row justify-content-center align-items-center">
                <div class="col-4" style="margin-bottom:20px; margin-top:20px;">
                        <h3 style="color:silver">Silver Plan</h3>
                    <ul class="cat_wrapper"><li> Custom detail</li>
                        <li> Custom detail</li>
                        <li> Custom detail</li>
                        <li> Custom detail</li>
                        <li> Custom detail</li>
                    </ul>

                </div>
                <div class="col-4" style="margin-bottom:20px; margin-top:20px;">
                    <h3 style="color:darkgoldenrod">Golden Plan</h3>
                    <ul class="cat_wrapper"><li> Custom detail</li>
                        <li> Custom detail</li>
                        <li> Custom detail</li>
                        <li> Custom detail</li>
                        <li> Custom detail</li>
                    </ul>
                </div>
                <div class="col-4" style="margin-bottom:20px; margin-top:20px;">
                    <h3 style="color:lightgray">Platinum Plan</h3>
                    <ul class="cat_wrapper"><li> Custom detail</li>
                        <li> Custom detail</li>
                        <li> Custom detail</li>
                        <li> Custom detail</li>
                        <li> Custom detail</li>
                    </ul>
                </div>
           </div>


    </div>
{% endblock %}
