<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>BuySafe - Customer Reviews</title>
    <link rel="stylesheet" type="text/css" href="http://188.240.210.8/web-04/alex/reviewIT/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ade0e905b9.js" crossorigin="anonymous"></script>
<link rel="icon" type="image/png"  href="http://188.240.210.8/web-04/alex/reviewIT/img/logo.png">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
 <nav id="topbar" style="margin: 0 0; background: #011f4b; " class="navbar navbar navbar-light">
        
			<img src="http://188.240.210.8/web-04/alex/reviewIT/img/Trust-icon2transparent2.png" />
           
               <nav class='d-flex ml-auto p-2 navbar'>
					<div class='btn-group' role='group'>
                        <button type='button' class='btn btn-outline-light'><a href="/login/user" style="color:dodgerblue; text-decoration:none">Shoppers</a></button>
                        <button type='button' class='btn btn-outline-primary'><a href="/login/company" style="color:white; text-decoration:none">Retailers</a></button>
				</div></nav>

      
    </nav>
    <div id="menu" class="col-12 row menu" >
       <nav class="navbar navbar-expand-lg navbar-light" style="background:#03396c">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">	
			<nav class='d-flex ml-auto p-2 navbar'>
					<div class='btn-group' role='group'>
					<a type='button' class='btn btn-outline-primary' href='/' style="color:white">Home</a>
					<a type='button' class='btn btn-outline-primary' href='http://localhost/category' style="color:white">Companies</a>
					<a type='button' class='btn btn-outline-primary' href='http://localhost/services' style="color:white">Services</a>
					<a type='button' class='btn btn-outline-primary' href='http://localhost/contact' style="color:white">Contact</a>
				</div></nav>
  </nav>
        {% if app.request.uri != 'http://localhost/' %}
        <nav class="d-flex ml-auto p-2 navbar">
            <form class="form-inline" name="menuSearch" action="/search" method="post" >
                <input class="form-control mr-sm-2" type="text" placeholder="Search for..." name="keyword" value="" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </nav> {% endif %}
    </div>
	
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
  
<div class="row" id="footer">
    <div class="col-sm-12 col-lg-3" style="padding: 20px; color:white; background:#03396c">
        <p>We love feedbacks!!!</p>
        <p>Social Media</p>
        <a href="https://www.facebook.com/" ><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/?lang=ro"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/?hl=ro"><i class="fab fa-instagram"></i></a>
        



    </div>
    <div class="col-sm-12 col-lg-3" style="color:white; background:#03396c">
        <BR>Details about company<br>
        <p style="font-size: x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col-sm-12 col-lg-3" style="color:white; background:#03396c"><BR><BR><BR>Clients reviews</div>
    <div class="col-sm-12 col-lg-3" style="color:white; background:#03396c"><BR><BR><BR>Sign up for our Newsletter
        <form class="form-inline" action#" method="post">
            <div>
                <label class="sr-only" for="email">Enter your email address</label>
                <input type="text" name="email" placeholder="Your email address.." />
            </div>
            <div>
                <button type="submit" name="submit" class="btn btn-secondary">Submit</button>
            </div>
        </form>


    </div>
</div>
<div class="row justify-content-center align-items-center" style="color:white; background:#011f4b">
<i class="fas fa-copyright"></i>Copyright G.R. Tech. 2020
</div>
</body>
</html>
